@page

<!DOCTYPE html>
<html>
<head>
    <title style="color:red">ADMIN ACCESS REQUIRED</title>
</head>
<body>
    <h1>Error</h1>
    <p>You don't have permission to enter this page. Please log in to your valid account.</p>
    <p><a href="/LoginReg/Login" class="btn btn-primary">Click here to login</a></p>
</body>
</html>
