@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At What's Cooking, accessible at WhatsCooking.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Website Name and how we use it.</p>

<p>  If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at privacy@Whatscooking.com</p>

<p>
    This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in What's Cooking. This policy is not applicable to any information collected offline or via channels other than this website.
</p>
<Style>
    body {
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-around;
        background-image: url("https://img.freepik.com/premium-photo/food-background-menu-with-spices-culinary-ingredients-dark-stone-background-cooking-concepts-culinary-background-top-view-free-space-your-text_234595-2347.jpg?w=826");
    }

    p {
        color: white;
    }

    h1 {
        color: white;
    }
</Style>