@model CookingAppMVC.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Register.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage, 'Login Error');
            setTimeout(function () {
                toastr.clear();
            }, 9000);
        }
    });
</script>
<link rel="stylesheet" href="~/css/login-styles.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<div class="wrapper">
    <div class="row">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center">
                <h1 class="text-info">Login</h1>
            </div>
            <div class="form-group">
                <label asp-for="Username">User Name:</label>
                <input type="text" asp-for="Username" class="form-control" placeholder="Enter Username" autocomplete="off" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password: </label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group button">
                <div class="d-flex justify-content-between">
                    <a asp-action="ForgotPassword">Forgot password?</a>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>

        </form>
        <div>
            <label>If you are not registered yet?</label>
            <a asp-action="Register" asp-controller="LoginReg">SignUp</a>
        </div>
    </div>
</div>