@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<ul class="navbar-nav">
    <!-- Other navigation links -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="LogReg" asp-action="Logout">Logout</a>
    </li>
</ul>
