body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    background-image: url("https://cdn.wallpapersafari.com/90/49/GqrnDN.jpg");
}

.wrapper {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.form-group.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #ff9933;
    cursor: pointer;
    border-radius: 20px;
}

    .form-group.button input:hover {
        background: #ff8000;
    }
